<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> <!-- basic styles -->
  <title>Customer Registration</title>
</head>

<body>
  <header>
    <div><a href="/" class="logo">IMSE Shop</a></div>
    <div id="header-headline">
      Registration
    </div>
  </header>
  <h1>Customer Registration Form</h1>
  <form id="registrationForm">
    <!-- Address Information -->
    <fieldset>
      <legend>Address Information</legend>
      <label for="land">Country:</label>
      <input type="text" id="land" name="land" required><br><br>

      <label for="stadt">City:</label>
      <input type="text" id="stadt" name="stadt" required><br><br>

      <label for="strasse">Street:</label>
      <input type="text" id="strasse" name="strasse" required><br><br>

      <label for="haus_nr">House Number:</label>
      <input type="text" id="haus_nr" name="haus_nr" required><br><br>
    </fieldset>

    <!-- Customer Information -->
    <fieldset>
      <legend>Customer Information</legend>

      <label for="firmen_kunde">Business customer</label>
      <input type="checkbox" id="firmen_kunde" name="firmen_kunde"><br><br>

      <!-- div to toggle between business name and vorname nachname -->
      <div id="individualFields">
        <label for="vorname">First Name:</label>
        <input type="text" id="vorname" name="vorname"><br><br>

        <label for="nachname">Last Name:</label>
        <input type="text" id="nachname" name="nachname"><br><br>
      </div>

      <div id="businessNameField" style="display: none;">
        <label for="business_name">Business Name:</label>
        <input type="text" id="business_name" name="business_name"><br><br>
      </div>

      <label for="status_vip">VIP Customer?</label>
      <input type="checkbox" id="status_vip" name="status_vip"><br><br>
    </fieldset>

    <button type="submit">Register</button>
  </form>

  <script>
    const form = document.getElementById('registrationForm');
    const firmen_kunde = document.getElementById('firmen_kunde');

    // toggle vorname nachname / business name 
    firmen_kunde.addEventListener('change', () => {
      const individualFields = document.getElementById('individualFields');
      const businessNameField = document.getElementById('businessNameField');
      if (firmen_kunde.checked) {
        individualFields.style.display = 'none';
        businessNameField.style.display = 'block';
      } else {
        individualFields.style.display = 'block';
        businessNameField.style.display = 'none';
      }
    });

    form?.addEventListener('submit', async (e) => {
      e.preventDefault();
      const firmen_kunde = document.getElementById('firmen_kunde');
      const vorname = document.getElementById('vorname');
      const nachname = document.getElementById('nachname');
      const business_name = document.getElementById('business_name');

      if (firmen_kunde.checked) {
        // business customer
        if (!business_name.value) {
          alert("Please enter Business Name!");
          return;
        }
      } else {
        // private customer
        if (!vorname.value) {
          alert("Please enter First Name!");
          return;
        }
        if (!nachname.value) {
          alert("Please enter Last Name!");
          return;
        }
      }

      const land = document.getElementById('land').value;
      const stadt = document.getElementById('stadt').value;
      const strasse = document.getElementById('strasse').value;
      const haus_nr = document.getElementById('haus_nr').value;

      const status_vip = document.getElementById('status_vip').checked;

      // Collect customer data
      const customerData = {
        vorname: firmen_kunde.checked ? null : vorname.value, // assing depending on if business or private
        nachname: firmen_kunde.checked ? null : nachname.value,
        business_name: firmen_kunde.checked ? business_name.value : null,
        land,
        stadt,
        strasse,
        haus_nr,
        firmen_kunde: firmen_kunde.checked,
        status_vip
      };

      try {
        const response = await fetch('/api/register', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(customerData),
        });

        const data = await response.json();

        if (response.ok) {
          alert('Customer registered successfully!');
        } else {
          alert(`Error: ${data.error}`);
        }
      } catch (error) {
        console.error('Error:', error);
      }
    });
  </script>
</body>

</html>